<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Overview</p-tab>
            <p-tab value="1">Resources</p-tab>
            <p-tab value="2">Tasks</p-tab>
            <p-tab value="3">Notebooks</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p class="m-0">
                    <app-details-project-overview />
                </p>
            </p-tabpanel>
            <p-tabpanel value="1">
                <p class="m-0">
                    <app-details-project-resources />
                </p>
            </p-tabpanel>
            <p-tabpanel value="2">
                    <app-details-project-tasks />
            </p-tabpanel>
            <p-tabpanel value="3">
                <app-details-project-notebooks />
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
