<div class="card">
    <div class="flex justify-between items-center mb-8">
        <span class="text-surface-900 dark:text-surface-0 text-xl font-semibold">Task List</span>
        <button pButton pRipple class="font-semibold" outlined icon="pi pi-plus" label="Create Task" (click)="showDialog()"></button>
    </div>
    <app-dash-tasks-list [taskList]="tasks" title="tasks"></app-dash-tasks-list>
    <app-dash-tasks-list [taskList]="completed" title="Completed"></app-dash-tasks-list>

    <app-dash-tasks-create />
</div>