<div class="flex justify-between items-center">
    <p-inplace>
        <ng-template #display>
            <span class="text-lg font-semibold">{{ list.title }}</span>
        </ng-template>
        <ng-template #content let-closeCallback="closeCallback">
            <span class="inline-flex items-center gap-1 h-10">
                <input type="text" autofocus pInputText [value]="list.title" [(ngModel)]="list.title" class="h-full !rounded-r-none w-[10rem]" />
                <button (click)="closeCallback($event)" pButton icon="pi pi-check" class="!rounded-l-none !h-10"></button>
            </span>
        </ng-template>
    </p-inplace>
    <div>
        <button pButton pRipple type="button" icon="pi pi-ellipsis-h" class="p-button-rounded p-button-text p-button-secondary" (click)="menu.toggle($event)"></button>
        <p-menu #menu [model]="menuItems" [popup]="true" appendTo="body"></p-menu>
    </div>
</div>
<div
    [id]="list.listId"
    class="flex flex-col justify-center gap-8 overflow-y-auto mt-3 scrollable kanban-list"
    cdkDropList
    (cdkDropListDropped)="dropCard($event)"
    (cdkDropListEntered)="insertHeight($event)"
    (cdkDropListExited)="removeHeight($event)"
    [cdkDropListData]="list.cards"
    [cdkDropListConnectedTo]="listIds"
    #listEl
    style="min-height:2rem"
>
    <app-dummy-apps-card *ngFor="let card of list.cards" [card]="card" [listId]="list.listId" (click)="onCardClick($event, card)" cdkDrag [cdkDragDisabled]="isMobileDevice" class="w-full"></app-dummy-apps-card>
</div>
<div class="px-4 mb-4 w-full mt-4">
    <button pButton pRipple label="New Card" icon="pi pi-plus font-semibold" class="py-3 justify-center font-semibold w-full rounded-border" (click)="insertCard()"></button>
</div>
